/target
**/target
.DS_Store
*.log
.idea
.vscode


*

!.gitignore
!Cargo.toml
!README.md

!crates/
!crates/shared/
!crates/shared/**

!crates/server/
!crates/server/src/
!crates/server/src/net/
!crates/server/src/net/**

!docs/
!docs/**
!scripts/
!scripts/**
