/target
**/target
.DS_Store
*.log
.idea
.vscode


*

!.gitignore
!Cargo.toml
!README.md

!crates/
!crates/shared/
!crates/shared/**

!crates/server/
!crates/server/**

!crates/client/
!crates/client/**

!docs/
!docs/**
!scripts/
!scripts/**
